.box{
    width: 100px;
    height: 100px;
    background-color: #3498db;
    opacity: 0;
    transition: opacity 0.3s;
}

.box-animate{
    opacity: 1;
    animation: moveRight 2s ease-in-out forwards;
}

@keyframes moveRight{
    0% {transform: translate(0);}
    100% {transform: translateX(200px);}
}